
# Игнорируем секретный сейф с токенами Твича
.env
# Игнорируем виртуальное окружение (оно весит много и на ПК создается заново)
venv/
# Игнорируем системные папки VS Code
.vscode/
notes/
.tio.tokens.json
death.json